@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
    background-color: #f3f4f5;
    font-family: 'Inter';
}

.btn-back {
    margin-top: 100px;
.back-btn {
    padding: 15px 80px;
    
    color: #fff;
    background-color: #537d90;
    transition: 0.7s;
    text-decoration: none;
    border-radius: 3px;
    &:hover {
        background-color: #537d90cb;
    }
}
}
.container {
    max-width: 1370px;
    margin: 0 auto;
}

header {
    height: 80px;
    width: 100%;
    background-color: #fff;
    
    .header__nav {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    .logo_a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    a {
        text-decoration: none;
        color: black;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        margin-right: 20px;
        letter-spacing: 1px;

        transition: 0.5s;

            & {
                border-bottom: solid 2px transparent;
                &.active,
                &:hover {
                    padding-bottom: 5px;
                    
                    border-color: green;
                    }
            }
}
}

.search {
    height: 60px;
    background-color: #f3f4f5;

    .user-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        
        .user__profile {
            padding: 0 20px 0 20px;
        }
    }

    .search__input {
        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
       }
       
       .input {
        width: 100%;
        height: 40px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 2.5rem;
        border: 2px solid transparent;
        border-radius: 8px;
        outline: none;
        background-color: #f3f3f4;
        color: #0d0c22;
        transition: .3s ease;
       }
       
       .input::placeholder {
        color: #9e9ea7;
       }
       
       .input:focus, input:hover {
        outline: none;
        border-color: green;
        background-color: #fff;
        box-shadow: 0 0 0 4px rgba(18, 72, 5, 0.1);
       }
       
       .icon {
        position: absolute;
        left: 1rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
       }
}


.shoes {

    .shoes__content{
        display: grid;
        grid-template-columns: 15% 55% 30%;
        grid-gap: 15px;
        height: 650px;
      
      .sub__main img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
            opacity: .5;
        }
    }

    .main {
        display: flex;
        align-items: center;

        img {
        width: 100%;
    }
    }

    .description__items {
        background-color: #fff;
        padding: 20px 25px 40px 20px;
        

        .des__left {
            padding-right: 50px;
            height: auto;
        }
        .description__title {
            margin-bottom: 10px;
        }
        .description__subtitle {
            margin-bottom: 10px;
        }
        .price {
            margin-bottom: 10px;
        }
        .size {
            margin-bottom: 10px;

            a {
                text-decoration: none;
                color: #537d90;

                &:hover {
                    color: #68aecf;
                }
            }
        }
        .decription__info {
            padding-bottom: 10px;

            span {
                line-height: 1.7;
            }

            a {
                text-decoration: none;
                color: #537d90;

                &:hover {
                    color: #68aecf;
                }
            }
        }


        s {
            font-size: 20px;
            color: #d01a1a;
            font-weight: 700;
            margin-left: 10px;
        }

        .des__right {
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
            .des__right_btn {
                padding: 15px;
                color: #fff;
                background-color: #537d90;
                transition: 0.7s;
                text-decoration: none;
                border-radius: 3px;
                &:hover {
                    background-color: #537d90cb;
                }
            }
        }
    }
}
}

footer {
    background-color: black;
    color: #fff;

    margin-top: 200px;

    .footer__content {
        display: flex;
        justify-content: space-evenly;
        padding: 60px 0 80px 0;
        
        a {
            text-decoration: none;
            color:  white;
        }


        .help {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }


        .contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        
        .footer__icon {
            width: 30px;
            height: auto;
            margin-right: 10px;
        }
    }
        .check-list {
            display: flex;
            flex-direction: column;
        }
        }

        .copyright {
            display: flex;
            top: 0;
            justify-content: center;
            padding-bottom: 20px;
        }
    }